{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Reservations" %} - Zorza
{% endblock %}

{% block content %}
<form class="form-small add-reservations no-print" method="post">
	<h2>{% trans "Adding reservations" %}</h2>
	<p>
		{% now "SHORT_DATE_FORMAT" as today %}
		{% blocktrans trimmed %}
		Today's date is {{ today }}.
		{% endblocktrans %}
	</p>
	{% csrf_token %}
	{{ form.as_p }}
	<p class="text-center">
		<button type="submit" class="button-primary">
			{% trans "Submit" %}
		</button>
	</p>
</form>
{% include "reservations.html" %}

{% endblock %}
