{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% blocktrans trimmed %}
Adding substitutions for {{ teacher }} on {{ date }}
{% endblocktrans %}
- Zorza
{% endblock %}

{% block content %}
<form class="add-substitutions2 form-small" method="post">
	<h2>{% trans "Adding substitutions — step 2" %}</h2>
	{% if formset.forms %}
	<p>
		{% with weekday=date|date:"l" %}
		{% url "teacher_timetable" teacher.id as url %}
		{% blocktrans %}Substitutions for <a href="{{ url }}">{{ teacher }}</a> on {{ date }} ({{ weekday }}). {% endblocktrans %}
		{% endwith %}
	</p>
	{% csrf_token %}
	{{ formset.non_field_errors }}
	{{ formset.management_form }}
	<table>
		{% for form in formset.forms %}
		{% if forloop.first %}
		<tr>
			<th>{% trans "No." context "timetable header" %}</th>
			<th>{% trans "Lesson" %}</th>
			<th>{% trans "Substitute" %}</th>
		</tr>
		{% endif %}
		<tr>
			{% for hidden in form.hidden_fields %}
			{{ hidden }}
			{% endfor %}
			<td> {{ form.lesson.period }} </td>
			<td>
				<div class="lesson-tworows">
					<a class="group" href="{% url "groups_timetable" form.lesson.group_id %}">
						{{ form.lesson.group }}
					</a>
					<a class="room" href="{% url "room_timetable" form.lesson.room_id %}" title="{{ lesson.room__name }}">
						{{ form.lesson.room.short_name }}
					</a>
					<span class="subject" title="{{ form.lesson.subject.name }}">
						{{ form.lesson.subject.short_name }}
					</span>
				</div>
			</td>
			<td> {{ form.substitute }} </td>
		</tr>

		{% endfor %}
	</table>
	<p class="text-center">
		<a class="button" href="{% url "add_substitutions1" %}">{% trans "Back" %}</a>
		<button type="submit" class="button-primary">
			{% trans "Save" %}
		</button>
	</p>
	{% else %}
	<p>
		{% blocktrans trimmed with name=teacher.full_name weekday=date|date:"l" %}
		{{ name }} has no planned lessons on that day ({{ weekday }}).
		{% endblocktrans %}
	</p>
	<p class="text-center">
		<a class="button" href="{% url "add_substitutions1" %}">{% trans "Back" %}</a>
	</p>
	{% endif %}
</form>
{% endblock %}
