{% extends "timetable_base.html" %}
{% load i18n %}

{% block caption %}
{% trans "Class" %} {{ class.name }}
{% endblock %}

{% block lesson %}
<div class="lesson-table">
	<div class="table-row">
		<a class="teacher" href="{% url "teacher_timetable" lesson.teacher.pk %}" title="{{ lesson.teacher.name }}">
			{{ lesson.teacher.initials }}
		</a>
		<div class="subject" title="{{ lesson.subject.name }}">
			{{ lesson.subject.short_name }}
		</div>
		<a class="room" href="{% url "room_timetable" lesson.room.pk %}" title="{{ lesson.room.ne }}">
			{{ lesson.room.short_name }}
		</a>
	</div>
</div>
{% endblock %}

