{% extends "timetable_base.html" %}
{% load i18n %}

{% block title %}
{% trans "Timetable" %} - {% trans "Class" %} {{ class.name }} - Zorza
{% endblock %}

{% block caption %}
{% trans "Class" %} {{ class.name }}
{% endblock %}

{% block lesson %}
<div class="lesson-table">
	<div class="table-row">
		<a class="teacher" href="{% url "teacher_timetable" lesson.teacher_id %}" title="{{ lesson.teacher.name }}">
			{{ lesson.teacher.initials }}
		</a>
		<div class="subject" title="{{ lesson.subject.name }}">
			{{ lesson.subject.short_name }}
		</div>
		<a class="room" href="{% url "room_timetable" lesson.room_id %}" title="{{ lesson.room.name }}">
			{{ lesson.room.short_name }}
		</a>
	</div>
</div>
{% endblock %}

{% block custom %}
<h3 class="text-center">
	<a href="{% url "personalize" class.id %}">
		{% trans "Select groups to show" %}
	</a>
</h3>
{% endblock %}

