{% load i18n %}
{% load humanize %}
{% if dayplans %}
{% regroup dayplans by schedule as dayplans_by_schedule %}
{% for schedule_dayplans in dayplans_by_schedule %}
{% for dayplan in schedule_dayplans.list %}
{{ dayplan.date|naturalday:"MONTH_DAY_FORMAT"|capfirst }}{% if not forloop.last %},{% endif %}
{% endfor %}
{% with schedule=schedule_dayplans.grouper %}
{% if schedule %}
{% blocktrans context "dayplans" trimmed %}
{{ schedule }} takes effect.
{% endblocktrans %}
{% else %}
{% trans "lessons are cancelled." context "dayplans" %}
{% endif %}
{% endwith %}
{% endfor %}
{% endif %}
