{% load i18n %}
{% if dayplans %}
<a href="{% url "schedules" %}" title="{% trans "Schedules" %}">
{% for dayplan in dayplans %}
{% with schedule=dayplan.schedule date=dayplan.date|date:"j E" %}

{% if dayplan.schedule.is_default %} {# Don't show anything #}

{% elif dayplan.schedule %}

{% if dayplan.is_today %}
{% blocktrans %}Today the {{ schedule }} is in function.{% endblocktrans %}
{% else %}
{% blocktrans %}On {{ date }} the {{ schedule }} will be in function.{% endblocktrans %}
{% endif %}

{% else %} {# if schedule == None, so lessons are cancelled #}

{% if dayplan.is_today %}
{% blocktrans %}Today classes are cancelled.{% endblocktrans %}
{% else %}
{% blocktrans %}On {{ date }} there will be no classes.{% endblocktrans %}
{% endif %}

{% endif %}

{% endwith %}
{% endfor %}
</a>
{% endif %}
