{% load static %}
{% load i18n %}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Display</title>
		<link rel="stylesheet" href="{% static "style.css" %}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<style>
		body, html {
			overflow: hidden;
		}
		{% if request.GET.light %}
		body {
			background-image: none !important;
		}
		header {
			background-image: none !important;
			box-shadow: none !important;
		}
		{% endif %}
		a {
			color: rgba(255, 255, 255, 0.9) !important;
		}
		</style>
	</head>
	<body>
		<header class="display-header">
			<nav class="navbar">
				<h1 class="logo-wrapper">
					<a class="site-logo" href="{% url "home" %}" title="{% trans "Visit the main page" %}">
						<img src="{% static "zorza_text.svg" %}" alt="Zorza">
					</a>
				</h1>
				<div class="display-timer">
					{% include "timer.html" %}
				</div>
				<div class="display-datetime">
					{% now "l" %}, {% now "j E" %}
					<span id="display-time">
						12:12:12
					</span>
				</div>
			</nav>
		</header>
		<main class="container display">
			<p class="text-center">
				{% include "dayplans.html" %}
			</p>
			{% include "substitutions.html" %}
			{% include "absences.html" %}
			{% include "reservations.html" %}
		</main>
		<script id="todays-periods">
			todays_periods = {% autoescape off %}{{ todays_periods_json }}{% endautoescape %};
			server_utc_offset = {{ utc_offset }};
		</script>
		<script src="{% static "timetable.js" %}"></script>
		<script>
setInterval(function () {
	var clock = document.getElementById("display-time");
	// TODO: show server time
	var time = new Date();
	clock.textContent = time.toLocaleTimeString();
}, 100);

//scroll
var main = document.getElementsByTagName("main")[0];
var i = 0;
function smoothScroll(top) {
	window.scroll({ behavior: 'smooth', top: top})
}
function scrollNext() {
	var substitutions = document.getElementsByClassName("substitutions")[0];
	var n = substitutions.children.length;
	if (i < n) {
		var rect = substitutions.children[i].getBoundingClientRect();
		// offset so as not to obstruct with the fixed header
		smoothScroll(rect.top - main.getBoundingClientRect().top);
		i++;
	} else {
		// show top of main
		smoothScroll(0);
		i = 0;
	}
	setTimeout(scrollNext, 4500);
}
scrollNext();

function reload() {
	// Reloading will persist even through longer periods of no connection
	setTimeout(reload, 300000)
	fetch(new Request(window.location))
		.then(response => response.text())
		.then(obj => {
			// 🤷
			var new_main = obj.match(/<main[^>]*>[\s\S]*<\/main>/gi);
			main.innerHTML = new_main;
		});
}
setTimeout(reload, 300000)
		</script>
	</body>
</html>
