{% load i18n %}

{% if substitutions %}
<h2 class="text-center">{% trans "Substitutions" %}</h3>

{% regroup substitutions by date as substitutions_by_day %}
{% for day in substitutions_by_day %}
<h3 class="text-center">{{ day.grouper }} ({{ day.grouper|date:"l" }})</h3>

{% regroup day.list by teacher as substitutions_by_teacher %}
{% for teacher in substitutions_by_teacher %}

<table class="block-center text-center">
	<caption>{{ teacher.grouper.full_name }}</caption>
	<tr>
		<th>{% trans "No." context "timetable header" %}</th>
		<th>{% trans "Period" context "timetable header" %}</th>
		<th>{% trans "Substitute" %}</th>
		<th>{% trans "Group" %}</th>
	</tr>
	{% for substitution in teacher.list %}
	<tr {% if substitution.group in groups %}class="relevant"{% endif %}>
		<td>{{ substitution.period }}</td>
		<td>{{ substitution.period_str }}</td>
		<td>{{ substitution.display_substitute }}</td>
		<td>{{ substitution.group }}</td>
	</tr>
	{% endfor %}
</table>
{% endfor %}
{% endfor %}
{% endif %}

{% if absences %}
<h2 class="text-center">{% trans "Absences" %}</h3>

{% regroup absences by date as absences_by_day %}
{% for day in absences_by_day %}
{% regroup day.list by group as absences_by_group %}
<table class="block-center text-center">
	<caption>{{ day.grouper }} ({{ day.grouper|date:"l" }})</caption>
	<tr>
		<th>{% trans "Group" %}</th>
		<th>{% trans "Periods" %}</th>
	</tr>
	{% for group in absences_by_group %}
	<tr>
		<td>{{ group.grouper }}</td>
		<td>
			{% for absence in group.list %}
			{{ absence.period }}{% if not forloop.last %}, {% endif %}
			{% endfor %}
		</td>
	</tr>
	{% endfor %}
</table>
{% endfor %}
{% endif %}

{% if reservations %}
<h2 class="text-center">{% trans "Reservations" %}</h3>

{% regroup reservations by date as reservations_by_day %}
{% for day in reservations_by_day %}
<h3 class="text-center">{{ day.grouper }} ({{ day.grouper|date:"l" }})</h3>

<table class="block-center text-center">
	<tr>
		<th>{% trans "No." context "timetable header" %}</th>
		<th>{% trans "Period" context "timetable header" %}</th>
		<th>{% trans "Teacher" %}</th>
		<th>{% trans "Room" %}</th>
	</tr>
	{% for reservation in day.list %}
	<tr>
		<td>{{ reservation.period }}</td>
		<td>{{ reservation.period_str }}</td>
		<td>{{ reservation.display_teacher }}</td>
		<td>{{ reservation.room.short_name }}</td>
	</tr>
	{% endfor %}
</table>

{% endfor %}
{% endif %}
