{% extends "timetable_base.html" %}
{% load i18n %}

{% block title %}
{% trans "Timetable" %} - 
{% if groups|length == 1 %}
{% trans "Group" %}
{% else %}
{% trans "Groups" %}
{% endif %}
{% for group in groups %}
{{ group.name }}{% if not forloop.last %},{% endif %}
{% endfor %} - Zorza
{% endblock %}

{% block caption %}
{% if groups|length == 1 %}
{% trans "Group" %}
{% else %}
{% trans "Groups" %}
{% endif %}
{{ groups|join:", " }}

{% if groups|length == 1 %}
{% with classes=groups.0.classes.all %}
{% if classes|length == 1 %}
({% trans "Class" %}
{% else %}
({% trans "Classes" %}
{% endif %}
{% for class in classes %}
<a href="{% url "class_timetable" class.id %}">{{ class }}</a>{% if not forloop.last %}, {% endif %}{% endfor %})
{% endwith %}
{% endif %}


{% endblock %}

{% block lesson %}
<div class="lesson-onerow">
	<a class="teacher" href="{% url "teacher_timetable" lesson.teacher_id %}" title="{{ lesson.teacher.full_name }}">
		{{ lesson.teacher.initials }}
	</a>
	<span class="subject" title="{{ lesson.subject.name }}">
		{{ lesson.subject.short_name }}
	</span>
	<a class="room" href="{% url "room_timetable" lesson.room_id %}" title="{{ lesson.room.name }}">
		{{ lesson.room.short_name }}
	</a>
</div>
{% endblock %}

