
{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Substitutions" %} - {% trans "Import from CSV" %} - Zorza
{% endblock %}

{% block content %}
<form class="form-small" method="post" enctype="multipart/form-data">
	<h2>{% trans "Import substitutions from a CSV file" %}</h2>
	{% csrf_token %}
	{{ form.non_field_errors }}
	{{ form.as_p }}
	<p class="text-center">
		<button type="submit" class="button-primary">
			{% trans "Import" %}
		</button>
	</p>
</form>

{% endblock %}
