{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Management" %} - Zorza
{% endblock %}


{% block content %}
<div class="form-small">
	<h2>{% trans "Management" %}</h2>
	<p>
		{% blocktrans trimmed %}Logged in as {{ user }}.{% endblocktrans %}
		<a href="{% url "logout" %}">{% trans "Log out" %}</a><br>
		<a href="{% url "password_change" %}">{% trans "Change password" %}</a>
	</p>
	{% if perms.timetable.add_substitution %}
	<p>
		<a href="{% url "add_substitutions1" %}">{% trans "Substitutions" %}</a>
	</p>
	<p>
		<a href="{% url "print_substitutions1" %}">{% trans "Print substitutions" %}</a>
	</p>
	{% if csv_enabled %}
	<p>
		<a href="{% url "import_substitutions" %}">{% trans "Import substitutions from CSV" %}</a>
	</p>
	{% endif %}
	{% endif %}
	{% if user.is_staff %}
	<p>
		<a href="{% url "admin:index" %}">{% trans "Administration" %}</a>
	</p>
	{% endif %}
	{% if perms.timetable.add_dayplan %}
	<p>
		<a href="{% url "edit_calendar" %}">{% trans "Calendar" %}</a>
	</p>
	{% endif %}
	<p>
		<a href="{% url "my_documents" %}">{% trans "My documents" %}</a>
	</p>
	{% if perms.timetable.add_reservation %}
	<p>
		<a href="{% url "add_reservation" %}">{% trans "Reservations" %}</a>
	</p>
	{% endif %}

	{% if cache_time != 0 %}
	<p>
		{% blocktrans trimmed %}
		Due to efficiency reasons up to {{ cache_time }} minutes may be needed to see changes on other pages.
		{% endblocktrans %}
	</p>
	{% endif %}

</div>
{% endblock %}
