{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Management" %} - Zorza
{% endblock %}


{% block content %}
<div class="form-small">
	<h2>{% trans "Management" %}</h2>
	<p>
		{% blocktrans trimmed %}Logged in as {{ user }}.{% endblocktrans %}
		<a href="{% url "logout" %}">{% trans "Log out" %}</a>
	</p>
	<p>
		<a href="{% url "add_substitutions1" %}">{% trans "Substitutions" %}</a>
	</p>
	<p>
		<a href="{% url "admin:index" %}">{% trans "Administration" %}</a>
	</p>
	<p>
		<a href="{% url "edit_calendar" %}">{% trans "Calendar" %}</a>
	</p>
	<p>
		<a href="{% url "my_documents" %}">{% trans "My documents" %}</a>
	</p>

</div>
{% endblock %}
