{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Timetable personalization" %} - Zorza
{% endblock %}

{% block content %}
<h2>{% trans "Timetable personalization" %}</h2>
{% if error %} <p>{{ error }}</p> {% endif %}

<form class="group-checkboxes" method="post">
	{% csrf_token %}
	{% for group in groups %}
	<label class="group-checkbox" for="group-checkbox-{{ group.id }}">
		<input type="checkbox" name="group-checkbox" id="group-checkbox-{{ group.id }}" value="{{ group.id }}">
		<span>
			{{ group.name }}
		</span>
	</label>
	{% endfor %}
	<p class="text-center">
		<button class="button-primary" type="submit">
			{% trans "Go to timetable" %}
		</button>
	</p>
</form>
{% endblock %}
