{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Substitutions" %} - Zorza
{% endblock %}

{% block content %}
<form class="form-small print-substitutions no-print" method="post">
	<h2>{% trans "Printing substitutions" %}</h2>
	<p>
		{% now "SHORT_DATE_FORMAT" as today %}
		{% blocktrans trimmed %}
		Today's date is {{ today }}.
		{% endblocktrans %}
	</p>
	{% csrf_token %}
	{{ form.as_p }}
	<p class="text-center">
		<button type="submit" class="button-primary">
			{% trans "Go" %}
		</button>
	</p>
</form>


{% endblock %}
