{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Rooms" %} - Zorza
{% endblock %}

{% block content %}
<h2 class="text-center">{% trans "Rooms" %}</h2>
<p class="text-center">
{% blocktrans trimmed %}
Showing lessons by room on {{ date }}, period number {{ period }}.
{% endblocktrans %}
</p>

<table class="block-center text-center">
	<thead>
		<th>{% trans "Room" %}</th>
		<th>{% trans "Teacher" %}</th>
		<th>{% trans "Subject" %}</th>
		<th>{% trans "Group" %}</th>
	</thead>
	<tbody>
		{% for room, lesson in rooms.items %}
		<tr>
			<td>
				<a href="{% url "room_timetable" room.id %}">
					{{ room.short_name }}
				</a>
			</td>
			{% if lesson %}
			<td>
				<a href="{% url "teacher_timetable" lesson.teacher_id %}" title="{{ lesson.teacher.full_name }}">
					{{ lesson.teacher.initials }}
				</a>
			</td>
			<td>
				<span title="{{ lesson.subject.name }}">
					{{ lesson.subject.short_name }}
				</span>
			</td>

			<td>
				<a href="{% url "groups_timetable" lesson.group_id|slugify %}">
					{{ lesson.group }}
				</a>
			</td>
			{% else %}
			<td></td>
			<td></td>
			<td></td>
			{% endif %}
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
