{% extends "timetable_base.html" %}
{% load i18n static %}

{% block extra_css %}
<script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5/dist/iro.min.js"></script>
<script src="{% static 'timetable_colors.js' %}"></script>
<script>
if (localStorage.getItem('subjectColorsEnabled') === 'true') {
    initializeSubjectColors({{ subject_list_json|safe }});
}
</script>
{% endblock %}

{% block title %}
{% trans "Timetable" %} - {% trans "Room" %} {{ room.short_name }} - Zorza
{% endblock %}

{% block caption %}
{% trans "Classroom" %} {{ room.name }}
{% endblock %}

{% block above_default_btn %}
{% include "personalization_modal.html" %}
{% endblock %}

{% block lesson %}
{% if lesson.group.link_to_class %}
<div class="lesson-onerow">
	{% with class=lesson.group.classes.all.0 %}
	<a class="teacher" href="{% url "teacher_timetable" lesson.teacher_id %}" title="{{ lesson.teacher.full_name }}">
		{{ lesson.teacher.initials }}
	</a>
	<span class="subject" data-subject="{{ lesson.subject.short_name }}" title="{{ lesson.subject.name }}">
		{{ lesson.subject.short_name }}
	</span>
	<a class="class" href="{% url "class_timetable" class.id %}">
		{{ class.name }}
	</a>
	{% endwith %}
</div>
{% else %}
<div class="lesson-tworows">
	<a class="teacher" href="{% url "teacher_timetable" lesson.teacher_id %}" title="{{ lesson.teacher.full_name }}">{{ lesson.teacher.initials }}</a>
	<a class="group" href="{% url "groups_timetable" lesson.group_id %}">
		{{ lesson.group.name }}
	</a>
	<span class="subject" data-subject="{{ lesson.subject.short_name }}" title="{{ lesson.subject.name }}">
		{{ lesson.subject.short_name }}
	</span>
</div>
{% endif %}
{% endblock %}