{% extends "timetable_base.html" %}
{% load i18n %}

{% block caption %}
{% trans "Classroom" %} {{ room.name }}
{% endblock %}

{% block lesson %}
<div class="lesson-table">
	<div class="table-row">
		<a class="teacher" href="{% url "teacher_timetable" lesson.teacher_id %}" title="{{ lesson.teacher__name }}">
			{{ lesson.teacher__initials }}
		</a>
		<a class="group" href="{% url "groups_timetable" lesson.group_id %}">
			{{ lesson.group__name }}
		</a>
	</div>
</div>
<div class="subject" title="{{ lesson.subject__name }}">
	{{ lesson.subject__short_name }}
</div>
{% endblock %}

