
{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Rooms" %} - {% trans "Select date and period" %} - Zorza
{% endblock %}

{% block content %}
<form class="form-small" method="post">
	<h2>{% trans "Select date and period" %}</h2>
	<p>{% trans "Select the time for which to show lessons by room" %}</p>
	{% csrf_token %}
	{{ form.non_field_errors }}
	{{ form.as_p }}
	<p class="text-center">
		<button type="submit" class="button-primary">
			{% trans "Show lessons in rooms" %}
		</button>
	</p>
</form>

{% endblock %}
