{% extends "base.html" %}
{% load i18n %}

{% block content %}

<h2 class="text-center">{% trans "Schedules" %}</h2>

<table class="block-center">
	<thead>
		<tr>
			<th>{% trans "No." context "timetable header" %}</th>
			{% for schedule in schedules %}
			<th>
				{{ schedule.name }}
			</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for period_number, schedule in table.items %}
		<tr>
			<td>{{ period_number }}</td>
			{% for _, schedule in schedule.items %}
			<td>{{ schedule }}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
