{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans "Schedules" %} - Zorza
{% endblock %}

{% block content %}

<h2 class="text-center">{% trans "Schedules" %}</h2>
<p class="text-center">
	{% now "l" %}, {% now "DATE_FORMAT" %}.
	{% include "timer.html" %}
</p>

<table class="block-center">
	<colgroup>
		<col>
		{% for schedule in schedules %}
		<col {% if active == schedule %}class="highlight"{% endif %}>
		{% endfor %}
	</colgroup>
	<thead>
		<tr>
			<th>{% trans "No." context "timetable header" %}</th>
			{% for schedule in schedules %}
			<th>
				{{ schedule.name }}
			</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for period_number, schedule in table.items %}
		<tr>
			<td id="period-{{ period_number }}">{{ period_number }}</td>
			{% for _, schedule in schedule.items %}
			<td>{{ schedule }}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>

{% include "timetable_data.html" %}
<script src="{% static "timetable.js" %}"></script>

{% endblock %}
