{% load i18n %}

{% if substitutions %}
<h2 class="text-center">{% trans "Substitutions" %}</h3>
<div class="substitutions">

{% regroup substitutions by date as substitutions_by_day %}
{% for day in substitutions_by_day %}

{% regroup day.list by lesson.teacher as substitutions_by_teacher %}
{% for teacher in substitutions_by_teacher %}

<table class="substitution">
	<caption>
		{{ day.grouper|date:"MONTH_DAY_FORMAT" }} ({{ day.grouper|date:"l" }}) –
		<a href="{% url "teacher_timetable" teacher.grouper.pk %}">{{ teacher.grouper.full_name }}</a>
	</caption>
	<tr>
		<th>{% trans "No." context "timetable header" %}</th>
		<th>{% trans "Period" context "timetable header" %}</th>
		<th>{% trans "Substitute" %}</th>
		<th>{% trans "Group" %}</th>
		{% if show_substitution_delete %}
		<th class="no-print">{% trans "Delete?" %}</th>
		{% endif %}
	</tr>
	{% for substitution in teacher.list %}
	{% with group=substitution.lesson.group %}
	<tr {% if group in groups or timetable_teacher != None and timetable_teacher == substitution.substitute %}class="relevant"{% endif %}>
		<td>{{ substitution.lesson.period }}</td>
		<td>{{ substitution.period_str }}</td>
		<td>{{ substitution.display_substitute }}</td>
		<td>{{ group }}</td>
		{% if show_substitution_delete %}
		<td class="no-print">
			<form method="post" action="{% url "delete_substitution" substitution.id %}">
				{% csrf_token %}
				<button>{% trans "Delete" %}</button>
			</form>
		</td>
		{% endif %}
	</tr>
	{% endwith %}
	{% endfor %}
</table>
{% endfor %}
{% endfor %}
</div>
{% endif %}
