{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Substitutions" %} - Zorza
{% endblock %}

{% block content %}
<form class="form-small add-substitutions1 no-print" method="post">
	<h2>{% trans "Adding substitutions — step 1" %}</h2>
	<p>
		{% now "SHORT_DATE_FORMAT" as today %}
		{% blocktrans trimmed %}
		Today's date is {{ today }}.
		{% endblocktrans %}
	</p>
	{% csrf_token %}
	{{ form.non_field_errors }}
	{{ form.as_p }}
	<p class="text-center">
		<button type="submit" class="button-primary">
			{% trans "Go to the next step" %}
		</button>
	</p>
</form>
{% include "substitutions.html" %}

{% endblock %}
