{% extends "timetable_base.html" %}

{% block caption %}
{{ teacher.full_name }}
{% endblock %}

{% block lesson %}
<div class="lesson-table">
	<div class="table-row">
		<a class="group" href="{% url "groups_timetable" lesson.group_id %}">
			{{ lesson.group__name }}
		</a>
		<a class="room" href="{% url "room_timetable" lesson.room_id %}" title="{{ lesson.room__name }}">
			{{ lesson.room__short_name }}
		</a>
	</div>
</div>
<div class="subject" title="{{ lesson.subject__name }}">
	{{ lesson.subject__short_name }}
</div>
{% endblock %}

