{% extends "timetable_base.html" %}
{% load i18n static %} // Fixed the load statement to include 'static' for loading static files like CSS

{% block extra_css %}
<link rel="stylesheet" href="{% static 'teacher_timetable_print.css' %}"> // Fixed the path to the CSS file
{% endblock %}

{% block title %}
{% trans "Timetable" %} - {{ teacher.full_name }} - Zorza
{% endblock %}

{% block caption %}
{{ teacher.full_name }}
{% endblock %}

{% block lesson %}
{% include "teacher_timetable_cell.html" %}
{% endblock %}

