{% extends "timetable_base.html" %}
{% load i18n %}

{% block title %}
{% trans "Timetable" %} - {{ teacher.full_name }} - Zorza
{% endblock %}

{% block caption %}
{{ teacher.full_name }}
{% endblock %}

{% block lesson %}
<div class="lesson-table">
	<div class="table-row">
		{% if lesson.group.link_to_class %}
		{% with class=lesson.group.classes.all.0 %}
		<a class="class" href="{% url "class_timetable" class.id %}">
			{{ class.name }}
		</a>
		<div class="subject" title="{{ lesson.subject.name }}">
			{{ lesson.subject.short_name }}
		</div>
		<a class="room" href="{% url "room_timetable" lesson.room_id %}" title="{{ lesson.room.name }}">
			{{ lesson.room.short_name }}
		</a>
		{% endwith %}
		{% else %}
		<a class="group" href="{% url "groups_timetable" lesson.group_id %}">
			{{ lesson.group.name }}
		</a>
		<a class="room" href="{% url "room_timetable" lesson.room_id %}" title="{{ lesson.room.name }}">
			{{ lesson.room.short_name }}
		</a>
		{% endif %}
	</div>
</div>
{% if not lesson.group.link_to_class %}
<div class="subject" title="{{ lesson.subject.name }}">
	{{ lesson.subject.short_name }}
</div>
{% endif %}
{% endblock %}

