{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load hyphen_break %}

{% block content %}
<h2>{% trans "Timetable" %}</h2>
<p>
	{% now "l" %}, {% now "DATE_FORMAT" %}, <span id="current-time"></span>.
</p>

{% include "dayplans.html" %}

<h3 class="timetable-caption">{% block caption %}{% endblock %}</h3>
<div class="text-right">
	<button id="set-def-button" onclick="setDefaultTimetable()"
		{% with cookie=request.COOKIES.timetable_default %}
		{% if cookie and cookie == request.path %}
		class="hidden"
  		{% endif %}
  		{% endwith %}>
		{% trans "Set as default timetable" %}
	</button>
</div>
<div id="table-wrapper">
	<table class="table timetable">
		<colgroup>
			<col id="period-number-col">
			<col id="period-col">
			{% for day_id, _ in days %}
			<col id="day-{{ day_id }}-col">
			{% endfor %}
		</colgroup>
		<thead>
			<tr>
				<th>{% trans "No." context "timetable header" %}</th>
				<th>{% trans "Period" context "timetable header" %}</th>
				{% for day_id, day in days %}
				<th id="day-{{ day_id }}">{{ day }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for period, row in table.items %}
			<tr>
				<td id="period-{{ period }}">{{ period }}</td>
				<td>
					{% autoescape off %}
					{{ row.0|hyphen_break }}
					{% endautoescape %}
				</td>
				{% for _, hour in row.1.items %}
				<td>
					{% for lesson in hour %}
					{% block lesson %}{% endblock %}
					{% endfor %}
				</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% block custom %}{% endblock %}
<h3 class="text-center">{% trans "Choose timetable to display" %}</h3>
<p class="text-center">
	{% if class_list %}
	<select onchange="location = this.value">
		<option disabled selected value>{% trans "Choose a class" %}</option>
		{% for class_item in class_list %}
		<option value="{% url "class_timetable" class_item.id %}">{{ class_item.name }} </option>
		{% endfor %}
	</select>
	{% endif %}
	{% if teacher_list %}
	<select onchange="location = this.value">
		<option disabled selected value>{% trans "Choose a teacher" %}</option>
		{% for teacher_item in teacher_list %}
		<option value="{% url "teacher_timetable" teacher_item.id %}">{{ teacher_item.last_name }} {{ teacher_item.first_name }}</option>
		{% endfor %}
	</select>
	{% endif %}
	{% if room_list %}
	<select onchange="location = this.value">
		<option disabled selected value>{% trans "Choose a classroom" %}</option>
		{% for room_item in room_list %}
		<option value="{% url "room_timetable" room_item.id %}">{{ room_item.short_name }}</option>
		{% endfor %}
	</select>
	{% endif %}
</p>

{% include "event_list.html" %}

<script src="{% static "timetable.js" %}"></script>
{% endblock %}
