{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load hyphen_break %}

{% block content %}
<h2>{% trans "Timetable" %}</h2>
<p>
	{% now "l" %}, {% now "DATE_FORMAT" %}.
	{% include "timer.html" %}
</p>

<p>
	{% include "dayplans.html" %}
</p>

<h3 class="timetable-caption">{% block caption %}{% endblock %}</h3>
<div class="text-right">
	<button id="set-def-button" onclick="setDefaultTimetable()" style="visibility: hidden;">
		{% trans "Set as default timetable" %}
	</button>
</div>
<div id="table-wrapper">
	<table class="table timetable">
		<colgroup>
			<col id="period-number-col">
			<col id="period-col">
			{% for day_id, _ in days %}
			<col id="day-{{ day_id }}-col">
			{% endfor %}
		</colgroup>
		<thead>
			<tr>
				<th>{% trans "No." context "timetable header" %}</th>
				<th>{% trans "Period" context "timetable header" %}</th>
				{% for day_id, day in days %}
				<th id="day-{{ day_id }}">{{ day }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for period, row in table.items %}
			<tr>
				<td id="period-{{ period }}">{{ period }}</td>
				<td>
					<div style="color: #888888 ;">
						<!--  Alternative date -->
						{% if row.2 %} 
							{% autoescape off %}
							{{ row.2|hyphen_break }}
							{% endautoescape %}
						{% endif %}
					</div>
					<div>
						{% autoescape off %}
						{{ row.0|hyphen_break }}
						{% endautoescape %}
					</div>
				</td>
				{% for _, hour in row.1.items %}
				<td>
					{% for lesson in hour %}
					{% block lesson %}{% endblock %}
					{% endfor %}
				</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% block custom %}{% endblock %}

{% include "timetable_select.html" %}

{% include "substitutions.html" %}
{% include "absences.html" %}
{% include "reservations.html" %}
{% include "timetable_data.html" %}

<script src="{% static "timetable.js" %}"></script>
{% include "timetable_footer.html" %}
{% endblock %}
