# Python cache and bytecode
*.py[cod]
__pycache__
./__pycache__

localsettings.py

# Databases
*.sqlite3

# KDE Dolphin cache files
.directory

/env
/venv
staticfiles
mediafiles
media
tmp
temp
.vscode