{% extends "base.html" %}
{% load i18n %}

{% block title %}
todo
{% endblock %}

{% block content %}
<form enctype="multipart/form-data" class="form-small" method="post">
	{% if object %}
	<h2>{% trans "Update file" %}</h2>
	{% else %}
	<h2>{% trans "Create a file" %}</h2>
	{% endif %}
	{% csrf_token %}
	{{ form.non_field_errors }}
	{{ form.as_p }}
	<p class="text-center">
		<a class="button" href="{% url "my_documents" %}">{% trans "Back" %}</a>
		<button type="submit" class="button-primary">
			{% trans "Save" %}
		</button>
	</p>
</form>

{% endblock %}
