{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "My documents" %} - Zorza
{% endblock %}

{% block content %}
<h2>{% trans "My documents" %}</h2>

{% for item in items %}
<p>
	<a class="title" href="{% if item.file %}{{ item.file.data.url }}{% else %}{% url 'document' item.id %}{% endif %}">
		{{ item.title }}
	</a>
	<br>
	<span class="created-date" title="{% trans "Created on" %} {{ item.created_date }}, {% trans "modified on" %} {{ item.modified_date }}">
		{{ item.created_date|date:"SHORT_DATE_FORMAT" }}
	</span>
	{% if item.file %}
	<span class="file-description">
		{{ item.file.data.size|filesizeformat }}
	</span>
	{% endif %}
	<a href="{% if item.file %}{% url "edit_file" item.id %}{% else %}{% url "edit_document" item.id %}{% endif %}">
		{% trans "Edit" %}
	</a>
</p>
{% endfor %}

{% if not categories and not items %}
{% trans "Nothing here!" %}
{% endif %}

<p class="text-center">
	<a class="button" href="{% url "create_file" %}">
		{% trans "Add a file" %}
	</a>
	<a class="button" href="{% url "create_document" %}">
		{% trans "Add a document" %}
	</a>
</p>

</p>

{% endblock %}
