{% extends "base.html" %}
{% load i18n %}

{% block title %}
{{ document.title }} - Zorza
{% endblock %}

{% block content %}
<article>

	{% if document.author %}
	{% trans "Author: " %} <strong>{{ document.author}}</strong><br>
	{% endif %}

	{% with created=document.created_date modified=document.modified_date %}
	{% blocktrans trimmed %}
	Created on {{ created }}.
	{% endblocktrans %}

	{% if created != modified %}
	{% blocktrans trimmed %}
	Modified on {{ modified }}.
	{% endblocktrans %}
	{% endif %}
	{% endwith %}


	<h2>{{ document.title }}</h2>

	{% autoescape off %}
	{{ document.content }}
	{% endautoescape %}

</article>


{% endblock %}
