{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Documents" %}{% if parent %} - {{ parent }}{% endif %}</h2>

<p class="subcategories">
{% if categories %}
{% trans "Subcategories:" %}
{% for category in categories %}
<a class="category" href="{% url 'category' category.id %}">
	{{ category.name }}
</a>
{% endfor %}
{% endif %}
</p>
{% for item in items %}
<a class="item" href="{% if item.file %}{{ item.file.data.url }}{% else %}{% url 'document' item.id %}{% endif %}">
	<div class="title" href="#">
		{{ item.title }}
	</div>
	<span class="created-date" title="{% trans "Created on" %} {{ item.created_date }}, {% trans "modified on" %} {{ item.modified_date }}">
		{{ item.created_date|date:"SHORT_DATE_FORMAT" }}
	</span>
	{% if item.author %}
	<span class="author">
		{{ item.author }}
	</span>
	{% endif %}
	{% if item.file %}
	<span class="file-description">
		{{ item.file.data.size|filesizeformat }}
	</span>
	{% endif %}
</a>
{% endfor %}

{% if not categories and not items %}
{% trans "Nothing here!" %}
{% endif %}

{% endblock %}
