*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Roboto", -apple-system, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

html {
  font-family: "Roboto" !important;
  line-height: 1.5;
  font-size: 13px;
}

@media (min-width: 576px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 15px;
  }
  .form-small {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
}

body {
  margin: 0;
  background-color: #1d2124;
  background-image: url("bg_noise.png");
  color: rgba(255, 255, 255, 0.9);
  font-size: 1rem;
}

.container {
  width: 100%;
  max-width: 960px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  position: relative;
  display: flex;
  padding: 0.5rem 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.site-logo {
  padding: 0.8rem 1rem;
  margin-left: -1rem;
  display: inline-block;
}

.site-logo > img {
  height: 1.1rem;
}

h1.logo-wrapper {
  margin: 0;
  padding: 0;
  line-height: 0;
}

#table-wrapper {
  overflow-x: auto;
}

table {
  border-collapse: collapse !important;
  margin-bottom: 1rem;
}

table th, table td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0.3rem 0.5rem;
}

.timetable {
  width: 100%;
}

.timetable .highlight {
  background-color: rgba(255, 255, 255, 0.02);
}

.timetable .break-highlight td {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.timetable tr td:nth-child(1) {
  text-align: center;
  padding-right: 0;
  padding-left: 0;
}

.timetable tr td:nth-child(2) {
  text-align: center;
  white-space: normal;
  padding-left: 0;
}

.timetable tr th:nth-child(1) {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.timetable tr th:nth-child(2) {
  padding-left: 0.2rem;
}

.timetable .subject {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.timetable .lesson-table {
  white-space: nowrap;
  display: table;
  min-width: 5rem;
  margin: 0 auto;
}

.timetable .lesson-table .table-row {
  display: table-row;
}

.timetable .lesson-table .table-row .teacher {
  display: table-cell;
  font-family: monospace;
}

.timetable .lesson-table .table-row .room {
  text-align: right;
  display: table-cell;
  font-family: monospace;
}

.timetable .lesson-table .table-row .subject {
  display: table-cell;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  width: 99%;
  text-align: left;
}

.timetable .lesson-table .table-row .group {
  display: table-cell;
}

.timetable .lesson-table .table-row .teacher + .group {
  text-align: right;
  padding-left: 0.4rem;
}

.timetable .lesson-table .table-row .group + .room {
  padding-left: 0.4rem;
}

header {
  background-image: url("aurora_header.jpg");
  background-color: #23594a;
  background-size: cover;
  margin-bottom: 1rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

a {
  color: #79b6da;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav {
  display: flex;
  padding-left: 0;
  margin: 0;
  list-style: none;
  justify-content: flex-end !important;
  height: 3rem;
  line-height: 2rem;
}

.nav-link {
  color: #fff;
  font-weight: bold;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 1.1rem;
}

.nav-link:focus, .nav-link:hover {
  text-decoration: none;
}

.nav-link:hover {
  color: #79b6da;
  transition: all 0.2s ease;
}

.nav-item {
  flex: 1 1 auto;
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

footer {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

footer a {
  font-size: 1.1rem;
  padding: 0.3rem;
}

select {
  font-size: 1.1rem;
  height: 2.7rem;
  padding: 0 0.3rem;
  color: rgba(0, 0, 0, 0.9);
}

.timetable-caption {
  margin-bottom: 0;
  text-align: center;
}

#set-def-button {
  display: inline;
  font-size: 1rem;
  background: none !important;
  border: none;
  color: #79b6da;
  padding: 0 !important;
}

#set-def-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

input, textarea {
  font-size: 1.1rem;
  width: 100%;
  padding: 0.6rem;
  border: none;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.9);
  resize: vertical;
}

button, .button {
  text-align: center;
  display: inline-block;
  width: auto;
  padding: 0.6rem 0.8rem;
  border: none;
  border-radius: 2px;
  font-size: 1.1rem;
  /*
	color: $dark-color;
	background-color: $font-color-primary;
	*/
}

.button-primary {
  background: linear-gradient(150deg, #2f7457, #235347);
  color: #fff;
  border-top: rgba(255, 255, 255, 0.25) solid 1px;
  border-bottom: rgba(0, 0, 0, 0.5) solid 1px;
  outline: none;
}

.button-primary:hover {
  background: linear-gradient(150deg, #368665, #2b6556);
}

.button-primary:active {
  background: linear-gradient(150deg, #235347, #2f7457);
  border-top: #235347 solid 1px;
  border-bottom: #235347 solid 1px;
}

.form-small {
  max-width: 25rem;
  margin: 0 auto;
}

.form-small select {
  display: block;
  width: 100%;
}

label.group-checkbox {
  display: inline-block;
  margin-bottom: 0.5rem;
  width: 10rem;
}

label.group-checkbox input[type="checkbox"] {
  display: inline-block;
  width: auto;
  padding: 0;
  margin: 0;
  position: relative;
  bottom: 1px;
  vertical-align: middle;
}

.block-center {
  margin-left: auto;
  margin-right: auto;
}

caption {
  font-weight: bold;
}

.item {
  display: block;
  font-size: 1.1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1;
}

.item .title {
  font-weight: bold;
  color: #79b6da;
}

.item .author, .item .file-description {
  font-size: 80%;
}

.item .created-date {
  font-size: 80%;
}

.item:hover {
  text-decoration: none;
  cursor: pointer;
}

.item:hover .title {
  text-decoration: underline;
}

.subcategories {
  font-size: 1.1rem;
}

.subcategories .category {
  font-weight: bold;
}

.relevant {
  background-color: rgba(255, 255, 255, 0.02);
}

.timetable-select {
  margin-bottom: 0.3rem;
}
