$font-color-primary: rgba(255, 255, 255, 0.9);
$font-color-secondary: rgba(255, 255, 255, 0.8);
$link-color: #79b6da;
$font-default: "Roboto", -apple-system, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
$shadow-default: 0 1px 8px rgba(0, 0, 0, 0.3);
$dark-color: rgba(0, 0, 0, 0.9);
*, *::before, *::after {
	box-sizing: border-box;
	font-family: $font-default;
}
html {
	font-family: "Roboto" !important;
	line-height: 1.5;
	font-size: 13px;
}

@media print {
	header, footer {
		display: none !important;
	}
}

/* Stupid hack to style Chromium */
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
	select {
		background-color: white;
		border-radius: 2px;
	}
}


@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
	.form-small {
		padding-top: 1.5rem;
		padding-bottom: 1rem;
	}
}
@media (min-width: 768px) {
	html {
		font-size: 15px;
	}
	.form-small {
		padding-top: 3rem;
		padding-bottom: 2rem;
	}
	.substitutions {
		display: flex;
		flex-wrap: wrap;
	}
	table.substitution {
		width: 30rem;
	}
}

body {
	margin: 0;
	background-color: #1d2124;
	background-image: url("bg_noise.png");
	color: $font-color-primary;
	font-size: 1rem;
}

.container {
	width: 100%;
	max-width: 960px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.navbar {
	position: relative;
	display: flex;
	padding: 0.5rem 1rem;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	height: 4rem;
}

.site-logo {
	padding: 0.8rem 1rem; // more clickable area
	margin-left: -1rem; // but still left-aligned to container's edge
	&>img {
		height: 1.1rem;
	}
	display: inline-block;
}

h1.logo-wrapper {
	margin: 0;
	padding: 0;
	line-height: 0;
}

#table-wrapper {
	overflow-x: auto;
}
table {
	border-collapse: collapse !important;
	th, td {
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		padding: 0.3rem 0.5rem;
	}
	margin-bottom: 1rem;
}
col.highlight {
	background-color: rgba(255, 255, 255, 0.03);
}
tr.highlight {
	background-color: rgba(255, 255, 255, 0.04);
}
.timetable {
	.break-highlight td{
		border-bottom: 2px solid rgba(255, 255, 255, 0.2);
	}
	width: 100%;
	tr td {
		&:nth-child(1) {
			// #
			text-align: center;
			//color: $font-color-secondary;
			padding-right: 0;
			padding-left: 0;
		}
		&:nth-child(2) {
			// hours
			text-align: center;
			//color: $font-color-secondary;
			white-space: normal;
			padding-left: 0;
		}
	}
	tr th {
		&:nth-child(1) {
			padding-left: 0.2rem;
			padding-right: 0.2rem;
		}
		&:nth-child(2) {
			padding-left: 0.2rem;
		}
	}
	.subject {
		margin: 0 auto;
		width: 100%;
		text-align: center;
	}
	.lesson-table {
		white-space: nowrap;
		display: table;
		min-width: 5rem;
		margin: 0 auto;
		.table-row {
			display: table-row;
			.teacher {
				display: table-cell;
				font-family: monospace;
			}
			.room {
				text-align: right;
				display: table-cell;
				font-family: monospace;
			}
			.subject {
				display: table-cell;
				padding-left: 0.4rem;
				padding-right: 0.4rem;
				width: 99%; // so cells on both sides are shrunk
				text-align: left;
			}
			.group {
				display: table-cell;
			}
			.teacher + .group {
				text-align: right;
				padding-left: 0.4rem;
			}
			.group + .room {
				padding-left: 0.4rem;
			}
		}
	}
}

header {
	background-image: url("aurora_header.jpg");
	background-color: #23594a;
	background-size: cover;
	margin-bottom: 1rem;
	box-shadow: $shadow-default;
}

a {
	color: $link-color;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.nav {
	display: flex;
	padding-left: 0;
	margin: 0;
	list-style: none;
	justify-content: flex-end !important;
	height: 3rem;
	line-height: 2rem;
}
.nav-link {
	color: #fff;
	font-weight: bold;
	display: block;
	padding: 0.5rem 1rem;
	text-decoration: none;
	font-size: 1.1rem;
	&:focus, &:hover {
		text-decoration: none;
	}
	&:hover {
		color: $link-color;
		transition: all 0.2s ease;
	}
}
.nav-item {
	flex: 1 1 auto;
	text-align: center;
}

.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
footer {
	margin-top: 2rem;
	margin-bottom: 1rem;
	a {
		font-size: 1.1rem;
		padding: 0.3rem;
	}
}

select {
	font-size: 1.1rem;
	height: 2.7rem;
	//border-radius: 2px;
	//border: none;
	//background-color: white;
	padding: 0 0.3rem;
	color: $dark-color;
}

.timetable-caption {
	margin-bottom: 0;
	text-align: center;
}

#set-def-button {
	display: inline;
	font-size: 1rem;
	background: none !important;
	border: none;
	color: $link-color;
	padding: 0 !important;
	&:hover {
		text-decoration: underline;
		cursor: pointer;
	}
}

.hidden {
	visibility: hidden;
}

input, textarea, .medium-editor-element {
	font-size: 1.1rem;
	width: 100%;
	padding: 0.6rem;
	border: none;
	border-radius: 2px;
	color: $dark-color;
	background: white;
}

input {
	height: 2.7rem;
}

input[type="checkbox"] {
	height: auto;
}

input[type="file"] {
	padding: 0;
	color: white;
}

textarea {
	resize: vertical;
}

button, .button {
	text-align: center;
	display: inline-block;
	width: auto;
	padding: 0.6rem 0.8rem;
	border: none;
	border-radius: 2px;
	font-size: 1.1rem;
	background: transparent;
	color: $link-color;
	&:hover {
		cursor: pointer;
	}
}


.button-primary {
	$green1: #2f7457;
	$green2: #235347;
	background: linear-gradient(150deg, $green1, $green2);
	color: #fff;
	border-top: rgba(255, 255, 255, 0.25) solid 1px;
	border-bottom: rgba(0, 0, 0, 0.5) solid 1px;
	outline: none;
	&:hover {
		background: linear-gradient(150deg, lighten($green1, 5%), lighten($green2, 5%));
	}
	&:active {
		background: linear-gradient(150deg, $green2, $green1);
		border-top: $green2 solid 1px;
		border-bottom: $green2 solid 1px;
	}
}

.form-small {
	max-width: 25rem;
	margin: 0 auto;
	select {
		display: block;
		width: 100%;
	}
}
label.group-checkbox {
	display: inline-block;
	margin-bottom: 0.5rem;
	width: 10rem;
	input[type="checkbox"] {
		display: inline-block;
		width: auto;
		padding: 0;
		margin: 0;
		// Fix misaligned checkbox and text...
		position: relative;
		bottom: 1px;
		vertical-align: middle;
	}
}
.block-center {
	margin-left: auto;
	margin-right: auto;
}
caption {
	font-weight: bold;
}

.item {
	font-size: 1.1rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	color: $font-color-primary;
	line-height: 1;
	.title {
		font-weight: bold;
	}
	.author, .file-description {
		font-size: 80%;
	}
	.created-date {
		font-size: 80%;
	}
}
.subcategories {
	font-size: 1.1rem;
	.category {
		font-weight: bold;
	}
}

.relevant {
	background-color: rgba(255, 255, 255, 0.03);
}

.timetable-select {
	margin-bottom: 0.3rem;
}

#display-time {
	font-weight: bold;
}
.display-datetime, .display-timer {
	font-size: 1.4rem;
}

article {
	max-width: 44rem;
	background: white;
	color: black;
	padding: 4rem;
	margin: 2rem auto;
}

table.substitution {
	text-align: center;
	margin: 0 auto 1rem auto;
}

.display {
	margin-top: 5rem;
}

.display-header {
	position: fixed;
	top: 0;
	width: 100%;
}

