*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Roboto", -apple-system, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

html {
  line-height: 1.5;
  font-size: 13px;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: #1d2124;
  background-image: url("bg_noise.png");
  color: rgba(255, 255, 255, 0.9);
  font-size: 1rem;
}

.container {
  width: 100%;
  max-width: 960px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  position: relative;
  display: flex;
  padding: 0.5rem 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

.site-logo {
  padding: 0.8rem 1rem;
  margin-left: -1rem;
  display: inline-block;
}

.site-logo > img {
  height: 1.1rem;
}

h1.logo-wrapper {
  margin: 0;
  padding: 0;
  line-height: 0;
}

#table-wrapper {
  overflow-x: auto;
}

table {
  border-collapse: collapse !important;
  margin-bottom: 1rem;
}

table th, table td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.14);
  padding: 0.3rem 0.5rem;
}

col.highlight {
  background-color: rgba(255, 255, 255, 0.03);
}

tr.highlight {
  background-color: rgba(255, 255, 255, 0.04);
}

tr.break-highlight {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.timetable {
  width: 100%;
}

.timetable td:nth-child(1) {
  text-align: center;
  padding-right: 0;
  padding-left: 0;
}

.timetable td:nth-child(2) {
  text-align: center;
  white-space: normal;
  padding-left: 0;
}

.timetable td:nth-child(n+3) {
  width: 10rem;
}

.timetable th:nth-child(1) {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.timetable th:nth-child(2) {
  padding-left: 0.2rem;
}

.lesson-onerow {
  white-space: nowrap;
}

.lesson-onerow * {
  display: table-cell;
}

.lesson-onerow :nth-child(2) {
  width: 100%;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.lesson-tworows {
  white-space: nowrap;
  text-align: center;
}

.lesson-tworows :nth-child(3)::before {
  content: ' ';
  display: block;
}

.teacher, .room, .class {
  font-family: monospace;
}

header {
  background-image: url("aurora_header.jpg");
  background-color: #23594a;
  background-size: cover;
  margin-bottom: 1rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

a {
  color: #79b6da;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav {
  display: flex;
  padding-left: 0;
  margin: 0;
  list-style: none;
  justify-content: flex-end !important;
  height: 3rem;
  line-height: 2rem;
}

.nav-link {
  color: #fff;
  font-weight: bold;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 1.1rem;
}

.nav-link:focus, .nav-link:hover {
  text-decoration: none;
}

.nav-link:hover {
  color: #79b6da;
  transition: all 0.2s ease;
}

.nav-item {
  flex: 1 1 auto;
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

footer {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

footer a {
  font-size: 1.1rem;
  padding: 0.3rem;
}

select {
  font-size: 1.1rem;
  height: 2.7rem;
  padding: 0 0.3rem;
  color: rgba(0, 0, 0, 0.9);
}

.timetable-caption {
  margin-bottom: 0;
  text-align: center;
}

#set-def-button {
  display: inline;
  font-size: 1rem;
  background: none !important;
  border: none;
  color: #79b6da;
  padding: 0 !important;
}

#set-def-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

input, textarea, .medium-editor-element {
  font-size: 1.1rem;
  width: 100%;
  padding: 0.6rem;
  border: none;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.9);
  background: white;
}

input {
  height: 2.7rem;
}

input[type="checkbox"] {
  height: auto;
}

input[type="file"] {
  padding: 0;
  color: white;
  background: transparent;
}

input.fix {
  float: right;
  width: 1em;
}

textarea {
  resize: vertical;
}

button, .button {
  text-align: center;
  display: inline-block;
  width: auto;
  padding: 0.6rem 0.8rem;
  border: none;
  border-radius: 2px;
  font-size: 1.1rem;
  background: transparent;
  color: #79b6da;
}

button:hover, .button:hover {
  cursor: pointer;
}

.button-primary {
  background: linear-gradient(150deg, #2f7457, #23594a);
  color: #fff;
  border-top: rgba(255, 255, 255, 0.25) solid 1px;
  border-bottom: rgba(0, 0, 0, 0.5) solid 1px;
  outline: none;
}

.button-primary:hover {
  background: linear-gradient(150deg, #368665, #2a6b59);
}

.button-primary:active {
  background: linear-gradient(150deg, #23594a, #2f7457);
  border-top: #23594a solid 1px;
  border-bottom: #23594a solid 1px;
}

.form-small {
  max-width: 25rem;
  margin: 0 auto;
}

.form-small select {
  display: block;
  width: 100%;
}

.teacher-checkbox {
  display: grid;
  grid-template-columns: 80% 20%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

label.group-checkbox {
  display: inline-block;
}

label.group-checkbox input[type="checkbox"] {
  display: inline-block;
  width: auto;
  padding: 0;
  margin: 0;
  position: relative;
  bottom: 1px;
  vertical-align: middle;
}

.block-center {
  margin-left: auto;
  margin-right: auto;
}

caption {
  font-weight: bold;
}

.item {
  font-size: 1.1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1;
}

.item .title {
  font-weight: bold;
}

.item .author, .item .file-description {
  font-size: 80%;
}

.item .created-date {
  font-size: 80%;
}

.subcategories {
  font-size: 1.1rem;
}

.subcategories .category {
  font-weight: bold;
}

.relevant {
  background-color: rgba(255, 255, 255, 0.04);
}

.timetable-select {
  margin-bottom: 0.3rem;
}

article {
  max-width: 44rem;
  background: white;
  color: black;
  padding: 2rem;
  margin: 0 auto;
}

table.substitution {
  text-align: center;
  margin: 0 auto 1rem auto;
}

@media print {
  * {
    color: black !important;
    page-break-inside: avoid;
  }
  header, footer, .no-print {
    display: none !important;
  }
  .substitutions {
    display: inline !important;
  }
}

@media (min-width: 576px) {
  html {
    font-size: 14px;
  }
  .form-small {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }
  article {
    margin: 1.5rem auto;
    padding: 3rem;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 15px;
  }
  .form-small {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
  .substitutions {
    display: flex;
    flex-wrap: wrap;
  }
  table.substitution {
    width: 30rem;
  }
  article {
    margin: 2rem auto;
    padding: 4rem;
  }
}

pre {
  font-family: monospace;
  overflow-x: auto;
}
