$font-color-primary: rgba(255, 255, 255, 0.9);
$font-color-secondary: rgba(255, 255, 255, 0.8);
*, *::before, *::after {
	box-sizing: border-box;
}
html {
	font-family: "Roboto" !important;
	line-height: 1.5;
	font-size: 13px;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}
@media (min-width: 768px) {
	html {
		font-size: 15px;
	}
}
@media (min-width: 992px) {
	html {
		font-size: 16px;
	}
}

body {
	margin: 0;
	background-color: #1d2124;
	background-image: url("bg_noise.png");
	color: $font-color-primary;
	font-size: 1rem;
	font-family: "Roboto", -apple-system, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.container {
	width: 100%;
	max-width: 960px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.navbar {
	position: relative;
	display: flex;
	padding: 0.5rem 1rem;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.navbar-brand {
	display: inline-block;
	padding: 0.8rem; // more clickable area
	margin-left: -0.8rem; // but still left-aligned to container's edge
	&>img {
		display: block;
		height: 1.1rem;
	}
}

#table-wrapper {
	overflow-x: auto;
}
.table {
	border-collapse: collapse !important;
	width: 100%;
	white-space: nowrap;
	th, td {
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		padding: 0.3rem 0.5rem;
	}
}
.timetable {
	tr td {
		&:nth-child(1) {
			// #
			text-align: center;
			//color: $font-color-secondary;
			padding-right: 0;
			padding-left: 0;
		}
		&:nth-child(2) {
			// hours
			text-align: center;
			//color: $font-color-secondary;
			white-space: normal;
			padding-left: 0;
		}
	}
	tr th {
		&:nth-child(1) {
			padding-left: 0.2rem;
			padding-right: 0.2rem;
		}
		&:nth-child(2) {
			padding-left: 0.2rem;
		}
	}
	.lesson-table {
		display: table;
		width: 100%;
		min-width: 5rem;
		.lesson {
			display: table-row;
			.teacher {
				text-align: right;
				display: table-cell;
				font-family: monospace;
			}
			.room {
				text-align: right;
				display: table-cell;
				font-family: monospace;
			}
			.subject {
				display: table-cell;
				padding-left: 0.3rem;
				padding-right: 0.3rem;
				width: 99%; // so cells on both sides are shrunk
			}
		}
	}
}

header {
	background-image: url("aurora_header.jpg");
	background-size: cover;
	margin-bottom: 2rem;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

a {
	color: #79b6da;
	text-decoration:none;
	&:hover {
		text-decoration: underline;
	}
}

.nav-link:hover {
	color: #79b6da;
	transition: all 0.2s ease;
}
.nav {
	display: flex;
	padding-left: 0;
	margin: 0;
	list-style: none;
	justify-content: flex-end !important;
	height: 3rem;
	line-height: 2rem;
}
.nav-link {
	color: #fff;
	font-weight: bold;
	display: block;
	padding: 0.5rem 1rem;
	text-decoration: none;
	font-size: 1.1rem;
	&:focus, &:hover {
		text-decoration: none;
	}
	&:hover {
		color: #79b6da;
		transition: all 0.2s ease;
	}
}
.nav-item {
	flex: 1 1 auto;
	text-align: center;
}

.text-center {
	text-align: center;
}

@media (max-width: 575px) {
	.sm-hide {
		display: none !important;
	}
}
@media (max-width: 767px) {
	.md-hide {
		display: none !important;
	}
}
footer {
	margin-top: 2rem;
	margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 1rem;
}
