{% load static %}
{% load i18n %}
<!doctype html>
<html lang="{% get_current_language as lang %}{{ lang }}">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Zorza{% endblock %}</title>
		<link rel="stylesheet" href="{% static "style.css" %}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		{{ form.media }}
	</head>
	<body>
		<header>
			<nav class="navbar container">
				<h1 class="logo-wrapper">
					<a class="site-logo" href="{% url "home" %}" title="{% trans "Visit the main page" %}">
						<img src="{% static "zorza_text.svg" %}" alt="Zorza">
					</a>
				</h1>
				<ul class="nav">
					<li class="nav-item">
						<a class="nav-link" href="{% url "timetable" %}">{% trans "Timetable" %}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url "documents" %}">{% trans "Documents" %}</a>
					</li>
				</ul>
			</nav>
		</header>
		<main class="container">
			{% block content %}
			{% endblock %}
		</main>
		<footer class="container text-center">
			<a href="{% url "about" %}">{% trans "About" %}</a>

			<a href="{% url "manage" %}">{% trans "Management" %}</a>

			<a href="{% url "contact" %}">{% trans "Contact us" %}</a>

			{% load flatpages %}
			{% get_flatpages "/footer/" as footer_html %}

			{% for flatpage in footer_html %}
			{{ flatpage.content|safe }}
			{% endfor %}

		</footer>
	</body>
</html>

